.table-view {
    -fx-font-size: 20px;
    -fx-background-color: rgba(128, 128, 128, 0.5);
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.table-row-cell {
    -fx-background-color: rgba(128, 128, 128, 0.5);
    -fx-text-fill: white;
}

.table-row-cell:odd {
    -fx-background-color: rgba(128, 128, 128, 0.7);
}

.table-row-cell:selected {
    -fx-background-color: #4CAF50;
}
